@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Young+Serif&display=swap');
*{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Young Serif', serif;
}
/* Estilos personalizados para el componente */
.custom-container {
    background-color: #f4f4f4;
    padding: 40px;
  }


  .card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-top: 20px;
  }

  .custom-text {
    line-height: 1.6; /* Ajusta el espaciado entre líneas */
    font-size: 18px; /* Ajusta el tamaño del texto según tus preferencias */
  }




  /* Estilos personalizados para el contenedor superior */
  .custom-header {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
    padding: 50px; /* Espacio interno */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Posición del fondo */
    text-align: center; /* Alineación del contenido */
    color: white; /* Color del texto */
  }

  /* Estilos para el contenedor principal */
  .custom-container-principal {
    margin-top: 100px; /* Ajusta la separación deseada desde la parte superior del navbar */
  }

  /* Configura el contenedor para ocupar todo el alto de la pantalla */
  .alto {
    height: 300px; /* 100% del alto de la ventana */
  }


  /* CSS personalizado */
  .fondo-imagen {
    background-image: url('/assets/Image/MHalacho02.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
  }

  .fondo-imagen::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el último valor (0.5) para controlar la opacidad */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que esté detrás del contenido */
  }


   /* estilos del carrusel */
  .tamanio-imagen{
    height: 250px;
    width: 250px;
    border-radius: 10px;


}
.fondo-imagen {
    background-color: #f4f4f4; /* Color de fondo gris claro */
    padding: 20px; /* Relleno interior */
    margin: 20px; /* Margen exterior */
}


.bg-blue {
    background-color: white;

    /* Puedes ajustar el color de fondo según tus preferencias */
  }
  .titulo {
  color: black; /* Cambia el color a tu preferencia */
  font-size: 34px; /* Cambia el tamaño a tu preferencia */
  text-align: center; /* Alinea el título al centro */
  margin-top: 20px; /* Espaciado superior */
  }
  .titulo1 {
    color: black; /* Cambia el color a tu preferencia */
      font-size: 24px; /* Cambia el tamaño a tu preferencia */
      text-align: center; /* Alinea el título al centro */
      margin-top: 20px; /* Espaciado superior */
      }

      .texto-centrado {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Opcional: ajusta la altura según tus necesidades */
      }
/* estilo de comentario */
      .text-damger{
        text-align: start;
        margin-left: 7px;
    }
/* estilo de la lista de comentarios */
    .fas {
      cursor: pointer;
      margin-left: 10px;
  }

  //Diseño del contenedor
.editarView{
  display: none;
}
.acomodar{
  display: flex;
}
.acomodar h1{
  font-size: 55px;
  margin-right: 10px;
}
.contBoton{
  position: absolute;
  right: 100px
}
.boton{
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: inline-flex;
}
  .boton svg {
    width: 100%;
    height: 100%;
  }
.editarView{
  display: block;
  width: 70%;
  margin: auto;
}

.editarView #title{
    padding: 10px 5px;
    width: 100%;
}
.editarView #texto{
  width: 100%;
  height: 200px;
  margin-top: 10px;

}
.editarView .imagen {
  width: 450px;
  height: 300px;
}
.editarView .imagen img{
  width: 100%;
  height: 100%;
}
.editarView .left{
  margin-right: 20px;
}
.editarView .right{
  margin-left: 20px;
}
.encabezado, .body{
  display: flex;
}
.cuerpo {
  width: 50%;
  margin-bottom: 15px;
}

.text-danger{
  font-size: 15px;
}
