
  <!-- Contenedor principal con la imagen de fondo -->


  <div class="container-fluid fondo-imagen d-flex align-items-center justify-content-center alto custom-container-principal">

    <div class="text-center p-3">
      <p class="h4 text-warning">NUESTRA EXPERIENCIA</p>
      <h1 class="display-3 text-white">¿POR QUÉ CONTRATARNOS?</h1>
    </div>

  </div>


<div *ngFor="let blog of listBlog">
  {{blog.usuario}}

  <!-- la primera card de contiente la historia principal -->

  <div class="container mt-4">
    <div class="card border-light">
      <div class="row g-0">
        <div class="col-md-5 mb-5">
          <img src="assets/Image/MariachisH01.png" class="img-fluid rounded-start" alt="Nuestra historia">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h1 class="display-3 card-title text-center">Mariachis Halacho</h1>
            <p class="h3 text-warning text-center">Conoce nuestra historia</p>
            <hr> <!-- Línea horizontal para separar título y subtítulo -->
            <p class="card-text text-justify custom-text">
               {{blog.content}}
             </p>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div>

















  <app-listar-comentario></app-listar-comentario>
  <app-comentario></app-comentario>

