


<!-- Contenedor principal con la imagen de fondo -->

  <div class="container-fluid fondo-imagen d-flex justify-content-center align-items-center alto">

    <div class="fondo-negro position-absolute">
      <div class="text-center text-warning p-4">
        <h1 class="display-1">MARIACHI HALACHO</h1> <br>
        <p class="h2 text-white">Descubre la pasión de la música</p><br>
      <!--  <button type="button" class="btn btn-outline-warning">Conócenos</button>-->
      </div>
    </div>

  </div>
 
  <!--  el carrusel -->

<div id="carouselExampleIndicators" class="carousel slide bg-blue" data-bs-ride="carousel">
  <br>
  <h1 class="titulo">CONTRATA AL MEJOR MARIACHI</h1>
  <br>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="height: 150px ">
    <div class="carousel-item active tamanio-component ">
      <div class="row">
          <div class="col ">
            <img src="assets/Image/evento1.jpeg" class="d-block  w-100  tamanio-imagen" alt="...">
          </div>
          <div class="col">
            <img src="assets/Image/evento2.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
          </div>
          <div class="col">
              <img src="assets/Image/evento3.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
              <img src="assets/Image/evento17.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
              <img src="assets/Image/evento5.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row ">
          <div class="col">
            <img src="assets/Image/evento6.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
          </div>
          <div class="col">
            <img src="assets/Image/evento18.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
          </div>
          <div class="col">
              <img src="assets/Image/evento8.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
              <img src="assets/Image/evento9.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
              <img src="assets/Image/evento10.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
            </div>
        </div> 
      </div>
      <div class="carousel-item ">
          <div class="row ">
            <div class="col">
              <img src="assets/Image/evento11.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
              <img src="assets/Image/evento12.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
                <img src="assets/Image/evento13.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
              </div>
              <div class="col">
                  <img src="assets/Image/evento14.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
                </div>
                <div class="col">
                  <img src="assets/Image/evento15.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
                </div>
          </div> 
        </div>
     <!-- Botones para pasar el carrusel -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>

<h2 class="titulo1">Donde el alma se encuentra con la musica, alli estamos nosotros<br>Mariachi Halacho</h2>
<br>
  <br>

<!-- Codigo de los servicios -->
<section class="mejores-mariachis fondo-blanco">
  <div class="container">
    <div class="row">
      <h2 class="display-4">Los mejores en mariachis, serenatas y quintetos para:</h2>
      <!-- Columna izquierda -->
      <div class="col-md-4">
          <ul class="lista-con-imagenes">
              
                <p class="parrafo-izquierda">
                  <img src="assets/Image/vestido.png" alt="Imagen 1"class="imagen-pequena" /> XV Años
                </p>
              
             
                <p class="parrafo-centro">
                  <img src="assets/Image/matrimonio.png" alt="Imagen 2" class="imagen-pequena"/> Boda
                </p>
              
              
                <p class="parrafo-derecha">
                  <img src="assets/Image/sociales.png" alt="Imagen 3" class="imagen-pequena"/> Eventos sociales
                </p>
              
            </ul>
      </div>

      <!-- Columna central con la imagen -->
      <br>
    <div class="col-md-4 text-center">
      <br>
      <br>
      <img src="assets/Image/MariachisHalacho01.jpeg" alt="Imagen Principal" class="imagen-principal">
      <br>
      <br>
  <button type="button" class="btn btn-outline-warning"[routerLink]="['/vServicio']">Conócenos</button> 
    </div>
 
      
      <!-- Columna derecha -->
      <div class="col-md-4">
        <!-- Contenido para el lado derecho del componente -->
        
        <ul class="lista-con-imagenes2">
          
              <p class="parrafo-izquierda">Graduaciones
                <img src="assets/Image/graduacion.jpg" alt="Imagen 4"class="imagen-mediana" /> 
              </p>
            
           
              <p class="parrafo-centro"> Aniversarios
                <img src="assets/Image/aniversario.png" alt="Imagen 5"class="imagen-mediana" />
              </p>
           
                <p class="parrafo-derecha">Fiestas de cumpleaños
                  <img src="assets/Image/pastel.png" alt="Imagen 6"class="imagen-mediana" /> 
                </p>
              
            </ul>
      </div>
    </div>
  </div>
  
</section>









