
<div class="container-fluid fondo-imagen d-flex align-items-center justify-content-center alto custom-container-principal ">

    <div class="text-center p-5 mt-5">

        <h1 class="card-title">NUESTROS SERVICIOS</h1>


<div class="card-container mt-4">
<div class="card right-card " >
  <img src="assets/Image/HALACHO.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Halacho</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $1,500</p>
    <p class="card-text">45 minutos $1,800</p>
    <p class="card-text">Una hora $2,000</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/CEPEDA.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cepeda</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $1,900</p>
    <p class="card-text">45 minutos $2,300</p>
    <p class="card-text">Una hora $2,500</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/KANCABCHEN.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Kancabchen</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,000</p>
    <p class="card-text">45 minutos $2,300</p>
    <p class="card-text">Una hora $2,500</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/ACU.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Santa Maria Acu</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/SAN MATEO.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">San Mateo</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/GRANADA.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hacienda Granada</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,000</p>
    <p class="card-text">45 minutos $2,300</p>
    <p class="card-text">Una hora $2,500</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/MAXCANU.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Maxcanu</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,000</p>
    <p class="card-text">45 minutos $2,300</p>
    <p class="card-text">Una hora $2,500</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/SANTO DOMINGO.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Santo domingo</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,100</p>
    <p class="card-text">45 minutos $2,400</p>
    <p class="card-text">Una Hora $2,600</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="..." class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dzidzibachi</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,100</p>
    <p class="card-text">45 minutos $2,400</p>
    <p class="card-text">Una Hora $2,600</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/COCHOL.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cochol</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/CHUNCHUCMIL.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Chunchucmil</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,600</p>
    <p class="card-text">Una Hora $2,800</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/SAN FERNANDO.jpeg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">San Fernando</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,100</p>
    <p class="card-text">45 minutos $2,400</p>
    <p class="card-text">Una Hora $2,600</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/PARAISO.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Paraiso</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="..." class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">San Rafael</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,600</p>
    <p class="card-text">Una Hora $2,800</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="..." class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Coahila</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>


<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/SANTA ROSA.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hacienda Santa Rosa</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,100</p>
    <p class="card-text">45 minutos $2,400</p>
    <p class="card-text">Una Hora $2,600</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/SAN BERNALDO.JPG" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">San Bernaldo</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/KOPOMA.jpeg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Kopoma</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/CHOCHOLA.jpeg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Chochola</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,300</p>
    <p class="card-text">45 minutos $2,600</p>
    <p class="card-text">Una Hora $2,800</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/CALCEHTOK.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Calcehtok</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/OPICHEN.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Opichen</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,300</p>
    <p class="card-text">45 minutos $2,600</p>
    <p class="card-text">Una Hora $2,800</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/MUNA.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Muna</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $3,100</p>
    <p class="card-text">45 minutos $3,500</p>
    <p class="card-text">Una Hora $3,800</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/CHAN CHOCHOLA.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hacienda Chan Chochola</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,000</p>
    <p class="card-text">45 minutos $2,300</p>
    <p class="card-text">Una Hora $2,500</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/CHACTUN.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hacienda Chactun</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,100</p>
    <p class="card-text">45 minutos $2,400</p>
    <p class="card-text">Una Hora $2,600</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/BECAL.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Becal</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,000</p>
    <p class="card-text">45 minutos $2,300</p>
    <p class="card-text">Una Hora $2,500</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/TEPAKAN.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tepakan</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,100</p>
    <p class="card-text">45 minutos $2,400</p>
    <p class="card-text">Una Hora $2,600</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/CALKINI.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Calkini</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/DZITBALCHE.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dzitbalche</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,300</p>
    <p class="card-text">45 minutos $2,600</p>
    <p class="card-text">Una Hora $2,800</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/HECELCHAKAN.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hecelchakan</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,600</p>
    <p class="card-text">45 minutos $2,900</p>
    <p class="card-text">Una Hora $3,100</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/POMUCH.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pomuch</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,700</p>
    <p class="card-text">45 minutos $3,000</p>
    <p class="card-text">Una Hora $3,200</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/TENABO.jpeg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tenabo</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,800</p>
    <p class="card-text">45 minutos $3,200</p>
    <p class="card-text">Una Hora $3,400</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/CUCHOLOCH.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cucholoch</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,000</p>
    <p class="card-text">45 minutos $2,300</p>
    <p class="card-text">Una Hora $2,500</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/NUNKINI.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nunkini</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/SIHO.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Siho Hacienda</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,000</p>
    <p class="card-text">45 minutos $2,300</p>
    <p class="card-text">Una Hora $2,500</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card center-card" >
  <img src="assets/Image/TANKUCHE.jpeg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tankuche</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $2,200</p>
    <p class="card-text">45 minutos $2,500</p>
    <p class="card-text">Una Hora $2,700</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>

<div class="card left-card" >
  <img src="assets/Image/ISLA ARENA.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Isla Arena</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $3,500</p>
    <p class="card-text">45 minutos $3,800</p>
    <p class="card-text">Una Hora $4,000</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>

<div class="card-container mt-4">
  <div class="card right-card " >
  <img src="assets/Image/MERIDA.jpg" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Merida</h5>
    <br>
    <td>SERVICIOS</td>
    <p class="card-text">Serenata $3,500</p>
    <p class="card-text">45 minutos $3,800</p>
    <p class="card-text">Una Hora $4,000</p>
    <a href="#" class="btn btn-primary">Cotizar ahora</a>
  </div>
</div>
</div>
</div>




