/* You can add global styles to this file, and also import other style files */

/* Estilos para el contenido principal debajo del navbar fijo */
.cabecera {
  margin-top: 62px; /* Ajusta esto según la altura del navbar */

}

.navbar-toggler {


z-index: 1100;
}

.titulo {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}
