
  <!-- contenedor del encabezado -->
  <div class="container-fluid fondo-imagen d-flex align-items-center justify-content-center alto custom-container-principal">

    <div class="text-center p-3">
      <p class="h3 text-warning ">LLAME AHORA Y COTICE NUESTROS PRECIOS</p>
      <h1 class="display-2 text-white">CONTACTOS</h1>
    </div>

  </div>


  <div class="container altura">
    <div class="row">
      <div class="col-md-6">
        <!-- Contenedor del mapa -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d513.1952910134181!2d-90.08267388407721!3d20.476204998042974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f88487b068e1dd%3A0xdf2de9018cef0ad9!2sC.%2020%201671%2C%20El%20Centro%2C%2097830%20Halach%C3%B3%2C%20Yuc.!5e0!3m2!1ses-419!2smx!4v1695649453607!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
      </div>
      <div class="col-md-6">
        <!-- Inicio de las cards -->
        <div class="tarjetas">
          <div class="card border-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h1 class="display-5 card-title">
                <i class="bi bi-geo-alt fs-1 text-danger"></i>
                Dirección
              </h1>
              <hr>
              <p class="h5 card-text">
                C. 20 1671, El Centro. <br>
                C.P. 97830 <br>
                Halachó, Yuc, Mexico
              </p>
            </div>
          </div>

          <div class="card border-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h1 class="display-5 card-title">
                <i class="bi bi-clock-history fs-1 text-dark"></i>
                Horario
              </h1>
              <hr>
              <p class="h5 card-text">
                ¡Mariachis disponibles <br>
                24 horas! <br>
                <br>
                <i class="bi bi-whatsapp fs-5 text-success"></i>
                9971107844
              </p>
            </div>
          </div>
        </div>
        <!-- Fin de las cards -->
      </div>
    </div>
  </div>
  <br>
